<div class="container">
  <h4> == Hotel List ==</h4>

  <span class="badge text-bg-success" style="cursor: pointer;" (click)="toggleIsNewBadge()">
    <i class="fa {{showBadge ? 'fa-low-vision' : 'fa-eye'}}" aria-hidden="true"></i>
    {{showBadge ? 'cacher' : 'afficher'}} nouveau</span>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <span class="mt-4">filter actuel : <b>{{hotelFilter}}</b></span>
    </div>
    <div class="col-md-6">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" [(ngModel)]="hotelFilter">
      </div>
    </div>

  </div>


</div>

<div class="container d-flex flex-wrap" *ngIf="hotels && hotels.length > 0">

  <div class="card mt-5 m-3" style="width: 18rem; " *ngFor="let hotel of filteredHotels">
    <img src="{{hotel.imageUrl}}" [title]="hotel.hotelName" class="card-img-top" [alt]="hotel.hotelName">
    <div class="card-body">
      <h5 class="card-title">{{hotel.hotelName | uppercase}}</h5>
      <p class="card-text">{{hotel.description}}</p>
      <p class="card-text">{{hotel.price | currency  : 'EUR' : 'symbol' : '1.2-2': 'fr' | replaceComma }}</p>
      <span class="badge text-bg-info" *ngIf="showBadge">Nouveau</span>
    </div>
  </div>
</div>
