<div class="container" *ngIf="hotel ">
  <div class="row">
    <div class="col-md-6">
        <img src="{{hotel.imageUrl}}" class="card-img-top" alt="...">
    </div>
    <div class="col-md-6">
           <h5 class="card-title">{{hotel.hotelName}}</h5>
           <p class="mt-5"><strong>Description</strong> :{{hotel.description}}</p>
           <p class="mt-5"><strong>Prix</strong> :{{hotel.price}} €</p>
       
           <app-star-rating
           [rating]="hotel.rating">
          </app-star-rating>
    </div>
  </div>
</div>
